@import '../../styles/colors.scss';

.area {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    margin-bottom: 15px;
    color: var(--text-color);
  }

  &__list-notes {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
    border: 3px solid var(--days_week_color);
      border-radius: 1em;
      background-color: var(--days_week_color);
  }

  &__text-area {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;


    textarea {
      width: 100%;
      height: 100%;
      resize: none;
      border: 3px solid var(--days_week_color);
      background-color: var(--days_week_color);
      border-radius: 1em;
      padding: 10px;
    }
  }

  &__buttons {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }
}

