@import '../../styles/colors.scss';

.day_week {
  width: 70px;
  height: 70px;
  background-color: var(--days_week_color);
  text-align: center;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 50%;

  &__header {
    display: flex;
    width: 400px;
    justify-content: space-around;
    margin-bottom: 15px;
  }

  &__year {
    color: var(--text-color);
  }

  &__month {
    color: var(--text-color);
  }
}

.row {
  display: flex;
}