@import '../../styles/colors.scss';

.day {
  width: 70px;
  height: 70px;
  background-color: $bg_color;
  text-align: center;
  &:hover {
    cursor: pointer;
    background-color: $hover_color;
  }
  &--disabled {
    background-color: $disble_color;
    &:hover {
      background-color: $disble_color;
      cursor: unset;
    }
  }

  &--active {
    &:hover {
      background-color: $active_color;
      cursor: unset;
    }
    background-color: $active_color;
  }
}