@import '../../styles/colors.scss';

.day {
  width: 70px;
  height: 70px;
  background-color: var(--bg_color);
  text-align: center;
  &:hover {
    cursor: pointer;
    background-color: var(--hover_color);
  }
  &--disabled {
    background-color: var(--disble_color);
    &:hover {
      background-color: var(--disble_color);
      cursor: unset;
    }
  }

  &--active {
    &:hover {
      background-color: var(--active_color);
      cursor: unset;
    }
    background-color: var(--active_color);
  }

  &--holiday {
    color: red;
  }
}