name: Backend CI

on:
  push:
    branches: [develop, main]
    paths:
      - 'server/**'
  pull_request:
    branches:
      - [develop, main]
    paths:
      - 'server/**'
  workflow_dispatch:

jobs:
  run-tests:
    strategy:
      matrix:
        os: [ubuntu-18.04, windows-2022, macos-latest]

    runs-on: ${{ matrix.os }}

    container: node:18

    steps:
      - name: Checkout code to runner
        uses: actions/checkout@v3

      - name: Install dependencies
        working-directory: server
        run: npm install

      - name: Run tests
        working-directory: server
        run: npm run test
